.Banner {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    background-image: $backgroundGradient;
    align-items: center;
    position: relative;
    height: 100vh;

    .Left-Container {
        grid-column: 1 / span 2;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding: 15%;
        height: 100%;
        gap: 64px;

        .Info-Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 150px;
            gap: 32px;

            .Photo-Container {
                width: 150px;
                height: 150px;
                border-radius: 100%;                
                border: 3px solid white;

                background-image: url("../../../src/Assets/Profile\ Photo.jpg");
                background-size: cover;
                background-position: center;
            }

            .Biografy-Container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 32px;
                                
                .Biografy-Name { font-weight: bold; }
                .Biografy-Description { color: #009afb; }
            }
        
            .Buttons-Container {
                display: flex;
                gap: 16px;                        
                
                button { min-width: 150px; }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;            

            li {
                color: rgb(180, 180, 180);
                font-size: 24px;
                text-align: center;
                user-select: none;
                cursor: pointer;
                min-width: 200px;

                &.Selected {
                    color: white;

                    &::before { 
                        font-family: 'Courier New', Courier, monospace;
                        display: inline-block;
                        content: "►";
                        animation: LeftMove 1s linear infinite;
                        
                        @keyframes LeftMove {
                            0% { transform: translateX(-10px); }
                            50% { transform: translateX(-15px); }
                            100% { transform: translate(-10px); }
                        }
                    }

                    &::after { 
                        font-family: 'Courier New', Courier, monospace;
                        display: inline-block;
                        content: "◄"; 
                        animation: RightMove 1s linear infinite;

                        @keyframes RightMove {
                            0% { transform: translateX(10px); }
                            50% { transform: translateX(15px); }
                            100% { transform: translate(10px); }
                        }
                    }
                }
            }
        }

        .Logos-Container {            
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 32px;
            cursor: pointer;

            a {
                img { 
                    width: 32px;
                }

                &:not(:last-child) { margin-right: 16px; }
            }
        }
    }

    .Right-Container {
        grid-column: 3;
        width: 100%;
        height: 100%;
        -webkit-mask-image: linear-gradient(270deg, black 70%, transparent 100%);
        mask-image: linear-gradient(270deg, black 70%, transparent 100%);
        
        background-image: url("../../../src/Assets/Background Image.jpg");        
        background-size: cover;
        background-position: center;
    }
}