.Carousel-Component {
    width: 100%;    
    display: flex;
    overflow: hidden;

    .Items-Container {
        display: flex;
        animation: Scrolling 15s linear infinite;

        @keyframes Scrolling {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-100%); }
        }

        .Carousel-Item {
            width: 96px;
            height: 96px;
            padding: 12px;

            img {
                width: 100%;
                user-select: none;
            }
        }
    }
}