.Carousel-Component {
    width: 100%;    
    display: flex;
    overflow: hidden;
    user-select: none;
    @include DebugBorders();

    .Items-Container {
        display: flex;
        animation: Scrolling 15s linear infinite;

        @keyframes Scrolling {
            0% { transform: translateX(0%); }
            100% { transform: translateX(-100%); }
        }

        &.Animation-Stopped {
            animation-play-state: paused;
        }

        .Carousel-Item {
            width: 96px;
            height: 96px;
            padding: 12px;

            @include ScreenMinWidth(800px) {
                width: 90%;
            }

            img {
                width: 100%;
                user-select: none;
            }
        }
    }
}