.Gallery-Component {
    @include Grid-Wrap(350px, 32px);

    .Item-Container {
        display: flex;
        flex-direction: column;
        border: 2px solid $bordersColor;
        border-radius: 12px;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 12px rgba($primaryColor, 0.5);

            &:hover .Image-Background {
                transform: scale(1.05);                
            }
        }

        .Image-Container {
            height: 200px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .State-Container {
                position: absolute;
                @include Tag-Container();
                user-select: none;
                cursor: default;
                
                transform: translateX(-50%);
                left: 50%;
                top: 8px;
                z-index: 10;

                .State-Dot {
                    width: 12px;
                    height: 12px;
                    background-color: green;
                    border-radius: 100%;
                }
            }
            
            .Image-Background {
                height: inherit;
                background-size: cover;
                background-position: center;
                transition: 0.3s;
            }
        }

        .Info-Container {
            height: calc(100% - 200px);
            background: $backgroundGradient;
            padding: 32px;
            @include Flex-Wrap(0);
            justify-content: space-between;

            .Text-Container {
                margin-bottom: 32px;

                .Subtitle {
                    color: $primaryColor;
                    border-bottom: 2px solid $bordersColor;
                    padding-bottom: 4px;;
                    margin-bottom: 4px;
                }

                .Description {
                    margin-bottom: 8px;
                }

                .Tech-Stack {
                    @include Flex-Wrap(8px, center);
                    user-select: none;
                }
            }

            .Buttons-Container {
                width: 100%;
                @include Grid-Wrap(100px, 32px);
    
                a div {
                    height: 100%;
                    text-align: center;
                }
            }
        }
    }
}