.TechDetails-Component {
    border: 2px solid $bordersColor;
    border-radius: 12px;
    @include Grid-Wrap(150px, 0);

    .Icon-Container {
        @include Centered-Container();

        img {
            width: 128px;
            margin-bottom: 8px;
            @include Fx-Floating();
        }

        &::after {
            content: "";
            display: block;                    
            width: 100px;
            height: 20px;
            background-color: rgb(black, 1);
            animation: Shadow 2s ease-in-out infinite;
            border-radius: 100%;
            filter: blur(4px);
    
            @keyframes Shadow {
                0% { transform: scaleX(1); }
                50% { transform: scaleX(0.8); }
                100% { transform: scaleX(1); }
            }
        }
    }

    .Info-Details {
        padding: 32px 32px 32px 0;
        @include ScreenMinWidth(400px) { padding: 32px;}

        p {
            text-align: left;
    
            &.Title {
                font-size: 24px;
                font-family: $secondaryFont;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 16px;
                border-bottom: 2px solid $bordersColor;
            }
        }
    }
}