.Timeline-Componet {
    display: grid;
    
    .Timeline-Node {
        display: grid;
        grid-template-columns: auto 1fr;

        .Timeline-Line {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(2px);
            
            .Node-Circle {
                position: relative;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                border-radius: 100%;
                border: 2px solid gray;

                .Circle-Node {
                    position: absolute;
                    display: inline-block;
                    border-radius: 100%;
                    left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    height: 60%;

                    @keyframes Flicker {
                        0% { background-color: var(--color); }
                        10% { background-color: white; }
                        20% { background-color: var(--color); }
                        100% { background-color: var(--color); }
                    }
                }
            }
    
            .Node-line {
                background-color: $bordersColor;
                width: 2px;
                height: 100%;
                position: relative;
            }
        }

        .Info-Container {
            grid-column: 2;
            padding: 0 0 32px 32px;

            .Header-Container {
                display: grid;
                grid-template-columns: auto 1fr;

                img {
                    width: 24px;
                    margin-right: 8px;
                }
            }

            .Body-Container {
                padding-left: 1.5rem;
                
                .Date {
                    color: gray;
                    text-align: left;
                }
            }
        }
    }

    .Title {
        font-weight: bold;
    }

    .Date {
        text-align: right;
    }
}