$primaryFont: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$secondaryFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

//Colors variables
$primaryColor: #009afb;
$secondaryColor: #ef28c1;
$bordersColor: #665c6f;
$backgroundGradient: linear-gradient(45deg, #131014, #302542);
$shadow: rgba(0, 0, 0, 0.3);

//Size variables
$FontSize: 1.3rem;
$SmallFontSize: 1rem;
$BigFontSize: 2rem;
$HeaderSize: 50px;
$ScreenMinWidth: 780px;
$MinRadius: 8px;
$MaxRadius: 24px;
$SectionSeparation: 64px;


//Debug mode to show the container borders
$DebugMode: false;