//Styles for convencional buttons
@mixin Convencional-Button($Color: $secondaryColor) {
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: $Color;
    
    padding: 8px;
    border-radius: 8px;
    border-style: none;

    user-select: none;
    cursor: pointer;
}

.Convencional-Button {
    @include Convencional-Button();
}

//Styles for outlined buttons
@mixin Outlined-Button($Color: white) {
    @include Convencional-Button();
    background-color: transparent;
    border: 2px solid $Color;
    padding: 6px;
}

.Outlined-Button {
    @include Outlined-Button();
}

//Styles for title tag with icon
@mixin Tag-Container() {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 4px;
  border-radius: 12px;
  background-color: rgba(black, 0.7);
  backdrop-filter: blur(10px);

  img {
      width: 16px;
      height: 16px;
  }
}

.Tag-Container {
  @include Tag-Container();
}

.Bullet-List {
  list-style: disc outside;
}

//Show the content borders on debug mode
@mixin DebugBorders($Color: red) {
    @if $DebugMode {
      border: 1px solid $Color;
    } 
    @else {
      border: none;
    }
  };