//Class to center elements in the container. Default stack mode is column or vectically
@mixin Centered-Container($Direction: column) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: $Direction;
    align-items: center;
    text-align: center;
}

.Centered-Container {
    @include Centered-Container();
}

//Container to adjust elements with streched size
@mixin Grid-Wrap($MinSize: 250px, $Gap: 32px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, $MinSize), 1fr));
    grid-auto-flow: dense;
    gap: $Gap;
}

.Grid-Wrap {
    @include Grid-Wrap();
}

//Container to adjust elments with fixed size
@mixin Flex-Wrap($Gap: 32px, $Justify: space-evenly) {
    display: flex;
	flex-wrap: wrap;
	justify-content: $Justify;
	align-items: center;
    gap: $Gap;
}

.Flex-Wrap {
    @include Flex-Wrap();
}

//Function to change the content styles when the screen width is very small
@mixin ScreenMinWidth($MinWidth: $ScreenMinWidth) {
    @media screen and (max-width: $MinWidth) {
        @content
    }
};

//Function to change the content styles when the screen height is very small
@mixin ScreenMinHeight($MinHeight) {
    @media screen and (max-height: $MinHeight) {
        @content
    }
};

